* {
  color: #2E4655;
  font-family: 'Karla', sans-serif;
}

h2 {
  margin: 10px;
}

h4 {
  font-weight: bold;
}

a {
  display: block;
  color: #2E4655;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #769894;
}


.hero {
  /*height: calc(100vh-10px);*/
  height: 100vh;
  width: 100%;
  background-image: url('images/image1.jpg');
  background-size: cover;
  padding:0;
}

.blue-cover {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0,8,52,.3), rgba(0,43,60,.8), rgba(0,8,52,.8), rgba(0,8,52,.95));
  background: -moz-linear-gradient(rgba(0,8,52,.3), rgba(0,43,60,.8), rgba(0,8,52,.8), rgba(0,8,52,.95));
  background: linear-gradient(rgba(0,8,52,.3), rgba(0,43,60,.8), rgba(0,8,52,.8), rgba(0,8,52,.95));
}

.second-section {
  margin-top: 100px;
}

.menu {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  box-shadow: 0px 2px 5px #EAEAEA;
  z-index: 2;
}

.menu-top {
  position: fixed;
  top: 0 !important;
  transition: all 1s ease;
}

.menu-icon {
  height: 25px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.icon-bar {
  width: 23px;
  height: 1px;
  border: 1px solid #2E4655;
}

.umbrella {
  height: 400px;
  width: 798px;
  background-image: url('images/image2.jpg');
  background-size: cover;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
}

.black-lines {
  height: 80%;
  width: 90%;
  transform: rotate(-18deg);
}

.left {

  border-left: 1px solid black;
}

.right {

  border-right: 1px solid black;
}

.footer-links {
  padding-top: 120px;
  padding-bottom: 120px;
}

.intro, span, p{
  color: white;
}

.intro h1, span {
  font-size: 50px;
}

p, p span {
  font-size: 15px;
}

.intro {
  padding-top: 30vh;
  margin-bottom: 100px;
}

.bold {
  font-weight: bold;
}

.box {
  color: white;
  border: 2px solid white;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .3s ease;
}

.box:hover {
  color: #2E4655;
  background-color: white;

}

.left-box {
  margin-right: 10px;
}

.arrow {
  text-align: center;
  font-size: 35px;

}

.arrow i {
  color: white;
  transition: all .3s ease;
}

.arrow i:hover {
  color: white;
  font-size: 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated {
  -webkit-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
  opacity: 1 !important;
}

@media (max-width: 1000px) {
  .umbrella {
    height: 350px;
    width: 698px;
  }

  .hero {
    height: 125vh;
  }

}

@media (max-width: 800px) {
  .umbrella {
    height: 300px;
    width: 598px;
  }
}

@media (max-width: 600px) {
  .umbrella {
    height: 300px;
    width: 448px;
  }

  .menu {
    position: fixed;
    top: 0;
  }

  .black-lines {
    opacity:0;
  }
}

@media (max-width: 500px) {
  .umbrella {
    height: 250px;
    width: 358px;
  }
}
